.report-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #2c3e50;
  }
  
  /* h2 {
    text-align: center;
    color: #2c3e50;
    font-size: large;
  } */
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .generate-button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .generate-button:hover {
    background-color: #2980b9;
  }
  
  .report-output {
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  /* p {
    font-size: 25px;
    margin-bottom: 10px;
  } */
  
  .error-message {
    color: red;
    text-align: center;
    font-weight: bold;
  }
  .social-media-buttons button {
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .whatsapp-button {
    background-color: #25D366;
    color: white;
    margin-bottom: 5px;
    padding: 10px 20px;
  }

  
  .gmail-button {
    background-color: #e33f3f;
    color: white;
    margin-bottom: 5px;
    padding: 10px 20px;
  }

  .pdf-button {
    background-color: #282ff0;
    color: white;
    padding: 10px 20px;
    margin-bottom: 5px;
  }

  .social-media-buttons button:hover {
    background-color: #b2b2b2; /* Ash color */
  }
  
  .report-output {
    margin-top: 20px;
  }

  /*new change*/
  .report-title {
    font-size: 24px; /* Increase this value as needed */
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }

  /* Increase the font size for the report data */
  .report-data {
      font-size: 18px; /* Increase this value as needed */
      margin-bottom: 10px;
      color: #555;
  }
  